@use "/styles/_colors" as *;
@import "/styles/_breakpoints.scss";

@font-face {
  font-family: "Avenir-Next";
  src: url("/fonts/avenir-next/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Next";
  src: url("/fonts/avenir-next/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: bold;
}

.auth_login {
  font-family: "Avenir-Next", sans-serif;
  max-width: 1440px;
  margin: 4rem auto;

  @include for-size(phone-only) {
    margin: 0;
    padding: 2rem;
  }

  @include for-size(tablet-portrait-up) {
    margin: 2rem auto;
  }

  .logo {
    margin: 0 0 4.5625rem 4rem;

    @include for-size(phone-only) {
      margin: 0 0 1rem 0;
    }
    @include for-size(tablet-portrait-up) {
      margin: 0 0 2rem 2rem;
    }
  }

  .main-box {
    display: flex;
    align-items: center;
    gap: 4.3125rem;

    @include for-size(phone-only) {
      display: block;
    }
    @include for-size(tablet-landscape-up) {
      gap: 1rem;
    }

    img {
      @include for-size(phone-only) {
        display: none;
      }
      @include for-size(tablet-portrait-up) {
        display: none;
      }
      @include for-size(tablet-landscape-up) {
        display: none;
      }
      @include for-size(desktop-up) {
        display: block;
      }
    }

    .form-box {
      margin: 0 6.245rem 0 6.25rem;
      width: 100%;

      @include for-size(phone-only) {
        margin: 0 auto;
        max-width: 27.9375rem;
      }
      @include for-size(tablet-portrait-up) {
        margin: 0 auto;
        max-width: 27.9375rem;
      }

      h1 {
        margin-bottom: 0.625rem;
        font-weight: bold;
        font-size: 2.5rem;
        color: $primary-color;
      }

      .info {
        margin-bottom: 3.75rem;
        font-size: 1.25rem;
        color: $main-text-color;
      }
    }
  }
}
