@use "/styles/_colors" as *;

@font-face {
  font-family: "Avenir-Next";
  src: url("/fonts/avenir-next/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Next";
  src: url("/fonts/avenir-next/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: bold;
}

.auth_login {
  font-family: "Avenir-Next", sans-serif;
  // margin: 4rem 4.1875rem 0 4.1875rem;
  max-width: 1440px;
  margin: 4rem auto;

  .logo {
    margin: 0 0 4.5625rem 4rem;
  }

  .main-box {
    display: flex;
    align-items: center;
    gap: 4.3125rem;

    .form-box {
      margin: 0 6.245rem 0 6.25rem;
      width: 100%;

      h1 {
        margin-bottom: 0.625rem;
        font-weight: bold;
        font-size: 2.5rem;
        color: $primary-color;
      }

      .info {
        margin-bottom: 3.75rem;
        font-size: 1.25rem;
        color: $main-text-color;
      }
    }
  }
}
