@use "/styles/_colors" as *;
@import "/styles/_breakpoints.scss";

.container {
  width: max-content;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.04);
  padding-top: 2.4375rem;
  padding-bottom: 1.5rem;
  overflow: auto;

  @include for-size(phone-only) {
    height: calc(100vh - 4.125rem);
  }
  @include for-size(tablet-portrait-up) {
    height: calc(100vh - 4.125rem);
  }
  @include for-size(desktop-up) {
    height: calc(100vh - 6.75rem);
    display: block;
  }

  button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-bottom: 3.3125rem;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: inherit;
    color: $primary-color;
    font-size: 1rem;
    margin-left: 1.875rem;
  }

  div {
    &:last-child {
      margin-top: 4.375rem;
      padding-top: 1.25rem;
      border-top: 1px solid rgba($primary-color, 0.1);

      p {
        margin-left: 1.875rem;
        font-size: 12px;
        color: $primary-color;
      }
    }
  }

  .switch {
    background-color: #fff;
    border: none;
    font-family: inherit;
    margin: 0 2.9375rem 3.25rem 1.875rem;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    font-size: 1.25rem;
    color: $primary-color;
  }

  .home {
    margin-left: 1.875rem;
    display: flex;
    gap: 10px;
    align-items: center;

    p {
      color: $faded-primary-color;
      font-size: 1.125rem;
    }
  }

  .section-box {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .section {
      margin-left: 1.875rem;
      margin-top: 2.5625rem;
      color: $main-text-color;
      font-size: 0.875rem;
      font-weight: 500;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        @extend .nav-list-item;

        &.nav-list-item--active {
          background-color: $hover-state-color;
          border-left: 5px solid $secondary-color;

          a {
            color: $primary-color;
          }
        }
      }

      .nav-list-item {
        border-left: 5px solid transparent;

        &:hover {
          background-color: $hover-state-color;
        }

        a {
          padding: 1rem 0 1rem 1.5rem;
          display: flex;
          gap: 10px;
          align-items: center;
          font-family: inherit;
          text-decoration: none;
          color: $faded-primary-color;
          font-size: 1.15rem;
        }
      }
    }
  }
}
