@use "/styles/_colors" as *;
@import "/styles/_breakpoints.scss";

.section {
  a {
    display: flex;
    gap: 13px;
    align-items: center;
    font-family: inherit;
    text-decoration: none;
    color: $main-text-color;
    margin-bottom: 1.625rem;
    width: max-content;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;

    @include for-size(phone-only) {
      flex-direction: column;
      gap: 1.5rem;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: 500;
      color: $primary-color;

      @include for-size(phone-only) {
        font-size: 1rem;
      }
    }

    &-actions {
      display: flex;
      gap: 1.25rem;

      @include for-size(phone-only) {
        flex-direction: column;
      }

      button {
        padding: 12px 1.875rem;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        border-width: 1px;
        border-style: solid;
        border-radius: 8px;
        background-color: #fff;
        letter-spacing: 2px;
        font-family: inherit;

        @include for-size(phone-only) {
          padding: 6px 15px;
          font-size: 12px;
          width: 7rem;
        }

        &:hover {
          background-color: rgba($main-text-color, 0.05);
        }
      }

      &__blacklist {
        color: #e4033b;
        border-color: #e4033b;
      }

      &__activate {
        color: #39cdcc;
        border-color: #39cdcc;
      }
    }
  }
}
