@use "/styles/_colors" as *;
@import "/styles/_breakpoints.scss";

.profile-card {
  padding: 1.875rem 0 0 1.875rem;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba($primary-color, 0.06);
  margin-bottom: 1.875rem;
  overflow: hidden;

  @include for-size(phone-only) {
    padding: 1.875rem 1.875rem 0 1.875rem;
  }

  &__user {
    display: flex;
    margin-bottom: 3.1875rem;

    @include for-size(phone-only) {
      flex-direction: column;
      gap: 14px;
      align-items: center;
    }

    @include for-size(tablet-portrait-up) {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }

    @include for-size(desktop-up) {
      flex-direction: row;
      gap: 1.25rem;
      align-items: center;
    }

    &-profile {
      display: flex;
      align-items: center;
      gap: 1.875rem;

      @include for-size(phone-only) {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        width: 100%;
      }

      &__id {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include for-size(phone-only) {
          text-align: center;
        }

        p {
          &:first-child {
            color: $primary-color;
            font-weight: 500;
            font-size: 1.375rem;
          }

          &:last-child {
            color: $main-text-color;
            font-size: 14px;
          }
        }
      }

      &__tier {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 1.1875rem 1.875rem;
        border-left: 1px solid rgba($main-text-color, 0.2);
        border-right: 1px solid rgba($main-text-color, 0.2);

        @include for-size(phone-only) {
          border-right: none;
          border-left: none;
          border-top: 1px solid rgba($main-text-color, 0.2);
          border-bottom: 1px solid rgba($main-text-color, 0.2);
          width: 100%;
          align-items: center;
        }

        p {
          color: $main-text-color;
          font-size: 14px;
          font-weight: 500;
        }

        div {
          display: flex;
          gap: 4px;
        }
      }

      &__account {
        display: flex;
        flex-direction: column;
        gap: 12px;

        @include for-size(phone-only) {
          text-align: center;
        }

        p {
          &:first-child {
            color: $primary-color;
            font-weight: 500;
            font-size: 1.375rem;
          }

          &:last-child {
            color: $primary-color;
            font-size: 12px;
          }
        }
      }
    }
  }
}
